.btn
{
  @include border-radius(0);
    padding:0 30px 0;
    line-height: 2.2;
    font-size: 20px;
    font-weight:$font-weight-normal; 
    border-color:transparent;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family:$proximaNovaSBd; 
    position: relative;
    
   

    
    &:hover,
    &:focus
    {
        box-shadow: none; 
        outline:0;
        
        &:before
        {
              content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0; 
                background-color: rgba(255,255,255, 0.4);
                z-index: -1;
              -webkit-animation: btn_com 1.8s infinite; /* Safari 4.0 - 8.0 */
                animation: btn_com 1.8s infinite;
        }
        
    }
    
    @include breakpoint(desktop)
    {
        font-size: 16px;
        line-height: 2.5;
    }
     @include breakpoint(normal)
    {
        padding:0 20px 0;
        font-size: 15px;
    }
     @include breakpoint(mobile-s)
    {
        line-height: 2;
    }
} 
.large_btn
{
    min-width: 225px;
    
      @include breakpoint(desktop)
        {
            min-width: 175px;
        }
    
     @include breakpoint(ipad)
    {
        min-width: 135px
    }
}
.normal_btn
{
    min-width: 180px;
}
.small_btn
{
    min-width: 130px;
}


.blue-btn
{
    background-color:$color-primary;
    color: $color-white;

    
    &:hover,
    &:focus
    { 
        background-color:$color-secondary;
         color: $color-white;
        
        &:before
        {
             background-color: rgba(225, 24, 9, 0.39);
        }
    }
}


.red-btn
{
     background-color:$color-secondary;
    color: $color-white;

    
    &:hover,
    &:focus
    {
        background-color:$color-primary; 
        color: $color-white;
        
         &:before
        {
             background-color:rgba(27, 40, 75, 0.51);
        }
    }
} 
