 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*** Parameters ***/

// Colors
$color-primary: #1b284b; 
$color-secondary:#e11809;
$color-black:#000;
$color-white:#fff;
$color-grey:#f7f7f7; 
$color-grey-light:#f2f2f2; 
$color-border-color:#d2d2d2;  
$color-border-color-lt:#e1e1e1; 
$color-text:#282828;
$color-head:#2d2d2e;
$color-link:#0d61ac; 
$color-nav:#3e3e3e;    
$color-footer:#222122;
$color-footer-text:#ababab;
$color-copyright:#141414; 
$color-hover:#1b284b;  

//path  
   
$assets:'../';
$fonts:'../fonts/';
$images:'../images/';
$js:'../js/';    



// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41; 
$color-instagram: #3f729b;
$color-linkedin: #0077b5; 
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59; 
$color-twitter: #55acee;
$color-red:#f00;
$color-imark:#26a9e0;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem; 

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;
 
// Font Family

$sans-serif:'Montserrat', sans-serif; 
$proximaNovaRg:'ProximaNovaSoft-Regular'; 
$proximaNovaBd:'ProximaNova-Bold'; 
$proximaNovaSBd:'ProximaNova-Semibold'; 
$proximaNovaLt:'ProximaNova-Light'; 

//font-weight
$font-weight-light:300;
$font-weight-normal:normal;
$font-weight-medium:500;
$font-weight-semi-bold:600;
$font-weight-bold:700;

// Animation
$anime-in: .4s;
$anime-out: .5s;
