.custom_list li,
p
{
    font-size: 18px;
    font-weight:$font-weight-normal;
    line-height: 1.6;
    color:$color-text; 
    font-family:$proximaNovaLt;
    
    @include breakpoint(desktop)
    {
        font-size: 15px; 
        line-height: 1.5;
    }
    @include breakpoint(ipad)
    {
        font-size: 14px; 
    }
    
    strong
    {
        font-family:$proximaNovaSBd;
        font-weight:$font-weight-normal;
    }
}   

ul 
{
    li
    {
        color: $color-text;
    }
}
