.philosophy_section
{
    display: flex;
    background-color: $color-grey-light;
    padding: 0;
    
    .philosophy_lt
    {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
    }
    
    .about_text
    {
        padding: 60px 23% 60px 15px;
        
        @include breakpoint(desktop)
        {
           padding-top: 30px;    
           padding-bottom: 30px;     
        }
        
        @include breakpoint(mobile)
        {
            padding: 60px 10%;
        }
        @include breakpoint(mobile-s)
        {
            padding: 20px 0;
        }
    }
}


.manegement_team
{
    background-color: $color-grey-light;  
    padding-bottom: 0;
    
    .management_top
    {
        h3
        {
            text-align: center;
        }
    }
    
  
}

  .manegement_temm_detail
    {
      .about_text
        {
            h3
            {
                margin-bottom: 8px;
                margin-top: -4px;
                
                @include breakpoint(desktop)
                {
                    margin-bottom: 1px;
                }
            }
            p
            {
                font-family:$proximaNovaLt;
                margin-bottom: 4px;
            }
        }
        .manegement_team_pro
        {
            height: 275px;
            @include bg_cover;
            margin-bottom: 0;
            
             @include breakpoint(desktop)
                {
                   height: 225px;
                }
             @include breakpoint(mobile)
                {
                    margin-bottom: 20px;
                    background-size: contain;
                }
        }
        
        .custom_scroll
        {
             @include breakpoint(mobile)
                {
                height: auto;
            }
        }
    }
.management_tem_bottom
{
    margin-top: 50px;
}

.manege_team_bx
{
    margin-bottom: 75px;
    
     @include breakpoint(desktop)
        { 
           margin-bottom: 50px;
        }
     @include breakpoint(mobile)
        { 
           margin-bottom: 20px;
        }
    
    h3
    {
         @include breakpoint(normal)
            { 
                font-size: 20px;
            }
    }
    p
    {
         @include breakpoint(normal)
            {
               font-size: 14px;
            }
        &.red_color
        {
             @include breakpoint(normal)
            {
               font-size: 13px;
            }
            @include breakpoint(mobile)
            {
               font-size: 14px;
            }
        }
    }
}