.application_block
{
    padding-bottom: 0;
}
.appliction_bx
{
    margin-bottom: 60px;
    text-align: center;
    
     @include breakpoint(desktop)
        {
             margin-bottom: 40px; 
        }
    @include breakpoint(normal)
        {
             margin-bottom: 30px; 
        }
    
    h3
    {
        font-size: 20px;
        margin-top:30px;   
        
         @include breakpoint(desktop)
            {
                 margin-top:20px; 
            }
        
         @include breakpoint(normal)
            {
                 margin-top:10px; 
            }
         @include breakpoint(ipad)
            {
                font-size: 17px;
            }
        
        a
        {
            &:hover
            {
                color: $color-secondary;
            }
        }
    }
  .appliction_detail
    {
            height: 330px;
        position: relative;
        overflow: hidden;
        
        @include breakpoint(desktop)
        {
            height: 250px;
        }
        
         @include breakpoint(normal)
        {
            height: 180px;
        }
         @include breakpoint(ipad)
        {
            height: 150px;
        }
         @include breakpoint(mobile-s)
        {
            height: 200px;
        }
        
         &:hover
        {
             .text_overlay
            {
                transform: translateY(0);
            }
        }
      
    }
    .appliction_bx 
    {
        height: 100%;
        @include bg_cover;
    }  
    .text_overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include transition;
        background-color:rgba(225, 24, 9, 0.82);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        -webkit-transform: translateY(-100%); 
        -moz-transform: translateY(-100%); 
        transform: translateY(-100%); 
        
         @include breakpoint(normal)
        {
           overflow: auto;
        height: 100%;
        padding: 10px 15px;
        display: block;
        }
        
       
         
        p
        {
            color: #fff;
        }
    }
     
}