.border_blog_bx
{
    .blog_bx
    {
        border: 1px solid $color-border-color; 
    }
}  

.blog_main_block 
{
     @include breakpoint(ipad)
    {
        min-height: 280px;
    }
}
 
/*Blog detail*/

.blog_detail_figure
{
    height: 500px;
    @include bg_cover;
    
    @include breakpoint(desktop)
    {
        height: 350px; 
    }
  @include breakpoint(normal)
    {
        height: 300px; 
    }
    @include breakpoint(ipad)
    {
        height: 250px; 
    }
    @include breakpoint(mobile)
    {
        height: 200px; 
    }
} 
 
.blog_recent_rt
{
     @include breakpoint(mobile)
     {
       margin-top: 20px;
     }
}
    .blog_recent_post {
            padding: 26px;
            border: 1px solid $color-border-color-lt;
            margin-top: 30px;
        
         @include breakpoint(desktop)
            {
                padding: 15px; 
                margin-top: 20px;
            }
        
        h3 {
            font-size: 20px;
            margin-bottom: 20px;
            
             @include breakpoint(desktop)
            {
               font-size: 18px;
            }
        }
        ul {
            li {
                position: relative;
                padding-left: 95px;
                min-height: 70px;
                margin-bottom: 20px;
                
                &:last-child
                {
                    margin-bottom: 0;
                }
                
                 @include breakpoint(desktop)
                    {
                        padding-left: 70px;
                    }
                @include breakpoint(normal)
                    {
                        padding-left: 0;
                    }
                  @include breakpoint(mobile)
                    {
                        padding-left: 100px;
                    } 
                
                .recent_post_figure
                {
                    width: 80px;
                    height: 70px;
                    @include bg_cover;
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    margin-bottom: 0;
                    
                    @include breakpoint(desktop)
                    {
                        width: 50px;
                        height: 40px;
                    }
                    @include breakpoint(normal)
                    {
                        width: 80px;   
                        height: 60px;
                        margin-bottom: 10px;
                        position: static;
                    }
                    @include breakpoint(mobile)
                        {
                            position: absolute;
                        }
                }
                .figure-cont
                {
                      h4  
                    {
                        font-size: 17px;
                        margin-bottom: 6px;
                        font-family: $proximaNovaSBd;
                        
                        @include breakpoint(desktop)
                            {
                              font-size: 15px;
                                    margin-bottom: 2px;
                            }

                        a
                        {
                          color: $color-text;


                            &:hover,
                            &:focus
                            {
                                color: $color-secondary;
                            }
                        }
                    }
                    p
                    {
                        font-size: 16px;
                        line-height: 1.4;
                        
                        @include breakpoint(desktop)
                            {
                             font-size: 14px;
                            }
                    }
                }
            }
        }
    } 
