.contact_us_lt
{
    margin-bottom: 15px;
}
.fa_icon_bx
{
    width:45px;
    height:45px;
    background-color:$color-secondary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(100%); 
    font-size: 20px;
    
     @include breakpoint(desktop)
    { 
        width:40px; 
        height:40px;
        font-size: 18px;
    }
    @include breakpoint(normal)
    { 
        width:35px; 
        height:35px;
        font-size: 16px;
    }
}

.adress_bx
{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    
    ul
    {
        li
        {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 45px;
            margin-bottom:24px;
            font-size: 18px;
            position: relative;
            padding-left: 60px;
             
             @include breakpoint(desktop)
                { 
                      font-size: 16px;
                     margin-bottom:15px;
                }
            @include breakpoint(ipad)
                {  
                      font-size: 14px; 
                     margin-bottom:15px;
                    padding-left: 50px;
                }
             @include breakpoint(mobile-s)
                { 
                    text-align:left;
                }
            
            a
            {
                color:$color-text;
                
                &:hover,
                &:focus
                {
                    color: $color-secondary;
                }
            }
            
            &:last-child
            {
                margin-bottom: 0;
            }
            
            .fa_icon_bx
               {
                   margin-right:23px;  
                   position: absolute;
                   top: 0;
                   left: 0;
                   
                   @include breakpoint(normal)
                    {
                        top: 5px;
                    }
             }
            
            &:first-child
            {
               .fa_icon_bx
               {
                   @include breakpoint(normal)
                    {
                        top: 0;
                    }
                }
            }
  }
}
}

.contact_us_adress
{
    
    h3
    {
        @include breakpoint(normal)
        {
          font-size: 20px;
        }
        @include breakpoint(ipad)
        {
          font-size: 17px;
        }
    }
    p
    {
        letter-spacing: 0.01em;
        
        @include breakpoint(normal)
        {
          font-size: 14px;
        }
    }
}

.contact_form
{
    padding:6% 11%;
    border: 10px solid $color-grey-light;
    text-align: center; 
    
    @include breakpoint(normal)
    {
        padding: 5%;
    }
    
    .flex-row 
        {
            display: flex; 
            align-items: center; 
            justify-content: space-between;
            
             @include breakpoint(mobile-s)
                {
                    flex-direction: column !important;
                } 
            
            &.form-group
            {
                @include breakpoint(mobile-s)
                {
                    margin-bottom: 10px;
                }
            }
        }
    .sub-form-group
    {
        max-width: 49%;
        width: 100%;
        
        @include breakpoint(mobile-s)
            {
               max-width: 100%;
                margin-bottom: 10px;
                
                &:last-child
                {
                    margin-bottom: 0;
                }
            }
    }
    h3
    {
        margin-bottom: 24px;
    } 
    .submit_btn_outer
    {
        input[type="submit"]
        {
            width: auto; 
        }
        
        &+.wpcf7-response-output
        {
            margin-top: 10px !important;
        }
    }

}

