
.quipment_block
{
    h2
    {
         @include breakpoint(mobile)
                {
                   font-size:20px;
                }
    }
}
.quipment_row
{ 
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
    @include breakpoint(desktop)
    {
        margin-bottom: 30px;
    }
     
    &:nth-child(odd)
    {
        .quipment_col_rt
        {
            order: -1;
            
             @include breakpoint(mobile)
                {
                    order: 2;
                }
            
            .equiment_border  
            { 
                padding-left:50px;
                
                &:before
                {
                    left: 0;
                    right: -14%;
                    
                     @include breakpoint(mobile)
                                {
                                    right: 0;
                                    left: 0;
                                }
                }
            }
        }
    } 
}
.equiment_text
{
    h3
    {
        font-size: 20px;
    }
}    
.figure_bx
{
    @include bg_cover;
}
.equiment_figure
{
    height: 430px;
    margin-bottom: 0;
    
    @include breakpoint(desktop)
        {
            height: 340px;
        }
     @include breakpoint(ipad)
        {
            height: 250px;
        }
} 
.equiment_border
{
    position: relative;
    padding: 60px 20px;
    z-index: 1;
    
    
    
    @include breakpoint(desktop)
    {
        padding: 30px 20px;
    }
    
      @include breakpoint(mobile)
        {
            margin-top: 20px;
            padding:20px;
        }
    
    &:before
    {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: -14%;
        border: 4px solid $color-grey-light;
        z-index: -1;
        
          @include breakpoint(normal)
        {
            right:0;
        }
       @include breakpoint(mobile)
        {
            right: 0;
            left: 0;
        }
    }
}