.banner
{
    padding: 0;
   @include bg_cover;
    position: relative;
    
    
     .banner_text
        {
                position: relative;
                width: 100%;
            
            h1
            {
                margin-bottom: 5px;
                font-size: 55px;
                text-transform: uppercase;
                
                  @include breakpoint(desktop)
                    {
                          font-size: 40px;
                    }
                @include breakpoint(normal)
                    {
                          font-size: 32px;
                    }
                 @include breakpoint(ipad)
                    {
                          font-size: 25px;
                    }
                 @include breakpoint(mobile)
                    {
                          font-size: 22px;
                    }
                 @include breakpoint(mobile-s)
                    {
                          font-size: 18px;
                    }
            }
            h1,
            p
            {
                color: $color-white;
            }
            p
            {
                color:$color-white; 
                margin-bottom:2px;
                font-size:26px;    
                letter-spacing: 0.02em;
                
                  @include breakpoint(desktop)
                    {
                        font-size: 20px;
                        line-height: 1.6;
                    }
                 @include breakpoint(normal)
                    {
                       font-size: 18px;
                    }
                 @include breakpoint(ipad)
                    {
                          font-size: 16px;
                    }
                @include breakpoint(mobile-s)
                    {
                          font-size: 14px;
                        line-height: 1.5;
                    }
                
                strong
                {
                    font-family:$proximaNovaSBd; 
                }
            }
            .btn
            {
                text-transform: uppercase;
                margin-top: 55px;
                
                @include breakpoint(desktop)
                {
                    margin-top: 25px;
                } 
                
                 @include breakpoint(normal)
                    {
                        margin-top: 20px;
                    }
                @include breakpoint(ipad)
                    {
                        margin-top: 15px;
                    }
                 @include breakpoint(mobile)
                    {
                        font-size: 14px;
                    }
            }
            
            } 
     .container
        {

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
     .carousel-item-overlay
            {
                position: absolute;
                top: 0;
                left: 0;
                right:0;
                bottom: 0;
                background-color: rgba(27, 40, 75, 0.63);
                
            }
    .carousel
    {
        height: 100%;
         .carousel-inner
        {
            height: 100%;
        }
         
        .carousel-item
        {
            height: 100%;  
            
            video
            {
                max-width: 100%;
                height: auto;
            }
            iframe
            { 
               height:100%;
                width: 100%;
                border: 0;
            }
        } 
        
        .carousel-indicators
        {
            bottom: 50px;
            
             @include breakpoint(ipad)
                {
                  bottom: 30px;
                }
            @include breakpoint(mobile-s)
                {
                  bottom: 10px;
                }
            
            li
            {
                width: 18px;
                height: 18px;
                background-color: $color-white;
                border: 2px solid $color-white;
                
              @include breakpoint(desktop)
                {
                    width: 13px;
                    height: 13px;
                }
                @include breakpoint(mobile-s)
                {
                    width: 10px;
                    height: 10px;
                }
                
                &.active
                {
                    background-color: transparent;
                }
            }
        }
        
        .carousel-control-next, 
        .carousel-control-prev
        {
            top: 50%;
            bottom: auto;
            width: auto;
            display: none;
        }
        .banner_text
        {
                position: relative;
                max-width: 1025px;
                width: 100%;
             
              @include breakpoint(desktop)   
                    { 
                          max-width: 885px; 
                    }
  
            
            .play_btn 
            {
                display: none;
                position: absolute;
                top: 50%;
                right: -13%; 
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
                
                 @include breakpoint(desktop)
                    {
                         width: 100px;
                         height: 100px;
                    }
            }    
        }   
    }
    &.homepage_banner
    {  
        height: 700px;
        
         @include breakpoint(desktop)
            {
                 height: 560px;
            }
        @include breakpoint(normal)
            {
                 height: 400px;
            }
        @include breakpoint(ipad)
            { 
                 height: 370px;
            }
        @include breakpoint(mobile)
            { 
                 height: 300px; 
            }
         @include breakpoint(mobile-s)
            { 
                 height: 210px;
            }
        
    }
    
    &.banner_inn
    {
         height: 530px;
        background-attachment: fixed;
         
        
         @include breakpoint(desktop)
            {
                 height: 220px; 
            }
        @include breakpoint(normal)
            {
                 height: 150px; 
            }
        @include breakpoint(mobile)
            {
                 height: 110px; 
            }
        h1
        {
            margin-bottom: 0;
        }
    }
} 



    
    .about_text
    {
         @include breakpoint(mobile-s)
            {
                text-align: center;
            }
        h2,
        h3
        {
            margin-bottom: 15px;
            text-align: left;
             
            @include breakpoint(normal)
            {
                 margin-bottom: 10px;
            }
             @include breakpoint(mobile-s)
            {
                text-align: center;
            }
        }
        p
        {
            margin-bottom: 25px;
            
            &:last-child
            {
                margin-bottom: 0;
            }
            
            @include breakpoint(desktop)
            {
                 margin-bottom: 15px;
            }
            
            @include breakpoint(normal)
            {
                 margin-bottom: 10px;
            }
        }
        .btn
        {
            margin-top: 10px;
        }
        
    }

.about_compny,
.about_us_main
{
    .about_right
    {
        @include breakpoint(ipad)
        { 
          order:-1;
        }
    }
    .about_left
    {
        @include breakpoint(ipad)
        {
           margin-top: 20px;
        }
    }
}
.about_bottom_cont
{
    margin-top: 20px;
}
   
.figure_border
    {
        height: 435px;
        @include bg_cover;

       @include breakpoint(desktop)
            {
                 height: 275px;
            }
        @include breakpoint(ipad)
            {
                 height:216px;
            }
        @include breakpoint(mobile)
            {
                 height:175px;
            }
    }

.philosophy_section
{
    @include breakpoint(ipad)
            { 
                flex-direction: column;
                
                .philosophy_lt
                {
                    height: 330px;
                }
            } 
       @include breakpoint(mobile)
       { 
           .philosophy_lt
                {
                    height: 250px;
                }
           } 
}
.custom_list 
{
    li
    {
        @include breakpoint(mobile-s)
            {
                text-align: left;
            }
    }
}
.our_project_main
{
    background-color: $color-grey-light;
    
    .owl-carousel 
    {
        .owl-dots
        { 
            position: absolute;
            top: -95px;
            right: 0;
            
            @include breakpoint(desktop)
            {
                top: -68px; 
            }
            
            @include breakpoint(ipad)
            { 
                top: -38px;  
            }
            
            @include breakpoint(mobile-s)
            {
                position: static;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
            }
             
            .owl-dot
            {
                width:17px; 
                height:17px;
                background-color: #c2c2c2;
                border: 2px solid transparent;
                margin-right: 12px;
                
                 @include breakpoint(desktop)
                    {
                        width:14px; 
                        height:14px;
                    }
                 @include breakpoint(normal)
                    {
                        margin-right: 3px;
                    }
                
                
                &:last-child
                {
                    margin-right: 0;
                }
                
                &.active
                {
                     background-color: transparent;
                border: 2px solid $color-secondary;
                }
            } 
        }
    }
}

.our_project_bx
{
    figure 
    {
        &.product_figure
        {
            background-color: $color-white;
            height:320px;
            background-repeat: no-repeat;
            background-position: center center;
            
            a
            {
                display: block;
                height: 100%; 
                width: 100%;
            }
            
            @include breakpoint(desktop)
                {
                   height:250px;
                    background-size: 80%;
                }
             @include breakpoint(normal)
                {
                   height:200px;
                    background-size: 70%;
                }
             @include breakpoint(ipad)
                {
                   height:170px;
                    background-size: 60%;
                    margin-bottom: 10px;
                }
             @include breakpoint(mobile)
                {
                   height:210px;
                }
            @include breakpoint(mobile-s)
                {
                   height:250px;
                }
        }
    }
    
    h3
    {
        text-align: center;
        
         @include breakpoint(desktop)
                {
                  font-size:18px;  
                }
        @include breakpoint(normal)
                {
                  font-size:16px;
                }
      a 
        {
            color: $color-text;
            
            &:hover,
            &:focus
            {
                color: $color-secondary;
            }
        }
    }   
} 

.product_bottm_content_sec
{
    position: relative;
    padding: 0;
    
.bk_ground_vedio
    {
        display: block;
           position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        height: auto;
    }
     
    .video_content 
    {
            padding: 70px 0; 
            background-color: rgba(0, 0, 0, 0.47843137254901963);
            z-index: 9;
            position: relative;  
        
         @include breakpoint(desktop)
        {
            padding: 40px 0
        }
        
                 @include breakpoint(normal)
                    {
                        padding: 30px 0
                    }
        
        h3,p
        {
            color: $color-white;
        }
    }
}

.product_service_bx 
{ 
    text-align: center;
    padding:8%;
    border: 1px solid $color-border-color; 
    
    @include breakpoint(desktop)
        {
            padding:5%;
        }
    
    figure
    {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        
         @include breakpoint(desktop)
        {
            background-size: contain;
            width: 80px;
            height: 80px;
        }
        @include breakpoint(ipad)
        {
            width: 50px;
            height: 50px;
        }
    }
    
    h3
    {
          margin-bottom: 10px;
        
        @include breakpoint(desktop)
        {
           font-size: 22px;
        }
        @include breakpoint(normal)
        {
           font-size: 18px;
        }
         @include breakpoint(ipad)
        {
           font-size: 16px;
        }
    }
}
.product_bottm_main
{
    .product_service_bx 
    {
        height: 100%;
        
          @include breakpoint(ipad)
            {
               margin-bottom: 20px;
                height: auto;
            }
    }
}
.calandar_tag
{
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 95px;
    height: 92px;
    margin: 0 auto 0;
    
     @include breakpoint(desktop)
    {
        width: 65px;
        height: 62px;
    }
      @include breakpoint(ipad)
        {
            width: 55px;
            height: 55px;
        }
    h4
    {
        text-align: center;
        color: $color-white;
        font-size: 20px;
        font-family: $proximaNovaLt;
        letter-spacing: 0.05em;
        
         @include breakpoint(desktop)
                {
                  font-size:15px;
                }
        
         @include breakpoint(ipad)
                {
                  font-size:12px;
                }
        
        strong
        { 
            font-size:38px; 
            display: block;
            font-family: $proximaNovaBd;
            
               @include breakpoint(desktop)
                {
                    font-size: 30px;
                    
                }
            @include breakpoint(normal)
                {
                    font-size: 23px;
                }
             @include breakpoint(ipad)
                {
                  font-size: 22px;
                }
        }
    }
}
.blog_main
{
    @include bg_cover;
    position: relative;
    background-attachment: fixed;
    
    h2
    {
        color: $color-white;
    }
    
    &:after
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
    }
    .container
    {
        position: relative;
        z-index: 1;
    }
    
    
    
}

.blog_bx
{
   margin-bottom: 50px;
   background-color: $color-white;
    
        @include breakpoint(desktop)
            {
              margin-bottom: 30px;
            }
    
    .blog_figure
    {
        @include bg_cover;
        height: 320px;
        width: 100%;
        margin-bottom: 0;
        
        @include breakpoint(desktop)
                {
                  height: 250px;
                }
        @include breakpoint(normal)
                {
                  height: 200px;
                }
        @include breakpoint(ipad)
                {
                  height: 150px;
                }
    }
    .blog_bx_content
    { 
        padding: 30px;
        
         @include breakpoint(desktop)
            {
              padding: 20px;  
            }
         @include breakpoint(ipad)
            {
              padding: 15px;
            }
        
        .calandar_tag
        {
            margin: -77px auto 10px;
            
          @include breakpoint(desktop)
            { 
              margin:  -62px auto 10px
            }
            @include breakpoint(normal)
            { 
              margin:  -52px auto 10px
            }
            @include breakpoint(ipad)
            {
              margin:-42px auto 10px 
            }
            
             @include breakpoint(mobile)
            {
              margin:-46px auto 10px
            }
        }
        
        h3
        {
            font-size:20px;
            margin-bottom: 10px;
            
             @include breakpoint(desktop)
                {
                 font-size:18px;
                    margin-bottom: 7px;
                }
        }
        p 
        {
            margin-bottom: 20px;
            
             @include breakpoint(normal)
             {
                 margin-bottom: 10px;
             }
             @include breakpoint(ipad)
             {
                 margin-bottom: 6px;
             }
        }
    }
}

/*.product_bottm_content
{
    margin-top: 40px;
    
    @include breakpoint(desktop)
    {
        margin-top: 30px;
    }
        @include breakpoint(mobile)
    {
        margin-top: 0px;
    }
}*/