.customer_figuer {
    border: 1px solid #ccc;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
     @include transition;
    
      &:hover
    {
        box-shadow:0 0 15px rgba(#000, 0.1);
    }
}

.our_customer
{
    text-align: center; 
    
    h3
    {
        margin-bottom:45px;
        
        @include breakpoint(normal)
        {
            margin-bottom: 25px;
        }
    }
}
.customer_review
{
    background-color: $color-grey-light;

    .review_bx  
    {
          @include breakpoint(desktop)
            {
                img
                {
                    max-width:60%;
                    width:100%;
                }
            }
        
        p
        {
            font-style: italic;
        }
    }
} 
.review_bx {
    background-color: $color-white;
    padding: 40px 10%;
    margin-bottom: 25px;
    min-height: 235px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @include transition;
    
    @include breakpoint(desktop)
    {
            min-height: 193px;
    }
     @include breakpoint(ipad)
    {
        padding: 20px 10%;
    }
      @include breakpoint(mobile-s)
    {
        min-height: auto;
    }
}
.review_bx
{
    &:hover
    {
        box-shadow:0 0 15px rgba(#000, 0.1);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            transform: rotate(-2deg);
    }
}