.border_product
{
    .slider_thumb,
    figure
    {
        border: 1px solid $color-border-color-lt;
    }
}

.product_range
{ 
    margin-bottom:80px;
    
    @include breakpoint(desktop) 
    {
      margin-bottom: 40px;    
    }
     @include breakpoint(normal) 
    {
      margin-bottom: 20px;    
    }
} 
/*
.produt_main 
{
    padding-bottom: 0;
}
*/

.product_top_cont
{
    margin-bottom: 40px;
  
    
    @include breakpoint(desktop) 
    {
      margin-bottom: 25px;    
    }
}
.product_figure 
{
    @include transition;
    &:hover
    {
        box-shadow: 0 0 15px rgba(#000 , 0.1);
        border-color: transparent;
    }
}


/*product detail*/

.product_detait_sidebar
{
    border: 1px solid $color-border-color-lt;
    padding: 30px;
    
    @include breakpoint(desktop)
    {
           padding: 20px;
      }
       @include breakpoint(normal)
    {
           padding: 15px;
      }
           @include breakpoint(mobile)
           {
               margin-bottom: 20px;
           }
    
    ul
    {
        li
        {
            margin-bottom: 17px;
            
             @include breakpoint(desktop)
                {
                    line-height: 1.2;
                     margin-bottom: 10px
                  }
            
            &:last-child
            {
                margin-bottom: 0;
            }
            
            a
            {
                font-size: 20px;
                color:$color-text;
                font-family: $proximaNovaSBd;
                
                  @include breakpoint(desktop)
                    {
                        font-size: 16px
                      }
                 @include breakpoint(normal)
                    {
                        font-size: 15px
                      }

                &:hover,
                &:focus,
                &.active
                {
                    color: $color-secondary;
                }
            }
        }
    }
}
.product_detait_product
{   
    
    .slider
    {
        .product_detail_figure
        {
            height: 350px; 
            
             @include breakpoint(desktop)
                    {
                        height: 260px
                      }
        }
           .slick-slide 
            {
                padding: 30px;
                
              img
                {
                    width: auto;
                         max-height: 100%;
                }
            }
    }
    .slider_thumb
    {
        height:80px;
        
        @include breakpoint(desktop)
         {
             height: 60px;
          }
        
         &.slick-slide 
            {
                 padding: 20px;
                margin: 0 10px;
                
                  @include breakpoint(desktop)
                     {
                         padding: 10px;
                      }
                 
                @include breakpoint(normal)
                     {
                         height: 30px;
                         padding: 4px;
                      } 
                  
                  @include breakpoint(ipad)
                     {
                         height: 90px;
                         padding: 10px;
                      }
              img
                {
                    width: 100%; 
                    
                       @include breakpoint(ipad)
                            {
                                width: auto;
                                height: auto;
                                max-height: 100%;
                                max-width: 100%;
                            }
                    
                }
            }
    }
    .slider-nav-thumbnails 
    { 
        @include breakpoint(ipad)
                     {
                         margin-top: 10px;
                      }
        
          .slick-list
        {
            margin: 0;
        }
        
         .slick-slide {
         opacity: 0.5; 
             
         &.slick-center{
          opacity: 1;
       }
      }
    }
    } 

.flex_bx
{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.product_detait_cont_rt 
{
     @include breakpoint(ipad)
         {
             margin-top: 20px;
          }  
}
.produt_detail_main
{
    .product_get_touch
        {
          padding: 4%;
            
            @include breakpoint(normal)
             {
                  padding: 2%;
              }
            
        } 
}
.product_get_touch
{
    background-color: $color-grey-light;
    
    h2
    {
        margin-bottom: 30px;
    }
    
    .form-control
    {
        border-color:transparent;
        
        &:focus
        {
            border-color: $color-border-color-lt;
        }
    }
    
    .btn
    {
        line-height: 2.5;
    }
}

.product_detait_row
{
      margin-top: 60px;
    
    @include breakpoint(desktop)
         {
              margin-top: 30px;
          }
    
    h2
    {
        margin-bottom: 30px;
        
         @include breakpoint(normal)
         {
              margin-bottom: 20px;
          }
    } 
}

.feature_product
{
    .our_project_bx  
    {
         @include breakpoint(mobile)
         {
              margin-bottom: 20px;
          }
    }
}