.qa_main_block
{
    padding-bottom: 50px;
    
     @include breakpoint(desktop)
        {
            padding-bottom: 20px;
        }
}
.qa_qc_com 
{
      @include breakpoint(normal)
        {
              margin-bottom: 20px;
        }
    
    h2
    {
        margin-bottom: 35px;
        
        @include breakpoint(desktop)
        {
              margin-bottom: 20px;
        }
    }

}
.qa_certificate
{
    figure.product_figure
    {
        background-size: 60%;
         
        @include breakpoint(mobile)
        { 
            background-size: 40%;  
        }
    }
}
.document_product
{
     position: relative;
    overflow: hidden;
    
    &:hover
        {

        figure.product_figure
        {
              opacity: 0.4;
         }
            
               a.download_bttn
            {
                z-index: 9;
                 top: 50%;
            }
    }
    
  
     .download_bttn
            {
                display: block;
                height: auto; 
                width: 70%; 
                margin: auto;
                background-color: #f00;
                line-height: 2;
                font-size: 20px;
                position: absolute;
                left: 0;
                right: 0;
                top: -50%;
                text-align: center;
                -webkit-transform: translateY(-50%);
                -mox-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 9;
                @include transition;
                color: $color-white;
                
                @include breakpoint(mobile)
                    {
                          width: 50%;
                        font-size: 16px;
                    }
                
                &:hover
                {
                     background-color: #f00 - 90;
                }
        }
}
.inspection_bx
{
    margin-bottom: 50px;
    @include transition;
    white-space: normal;
        
         &:hover
            {
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            }
    
    .product_figure
    {
        height: 320px;
        background-color:$color-grey-light;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-bottom: 0;
        
        &:hover
        {
            box-shadow: none;
        }
        
        img
        {
            max-height: 100%;
        }
        
        @include breakpoint(desktop)
        {
            height: 230px;
        }
    }
    
    .inspection_text
    {
        padding:20px ;
        border: 1px solid $color-border-color-lt;
        border-top: 0;
        
           h3
           {
            font-size: 20px;
             margin-bottom: 10px;
               
               @include breakpoint(desktop)
               {
                   font-size:18px;
               }
            a
            {
                color: $color-text;

                &:hover
                {
                    color: $color-secondary;
                }
            }
       } 
    }
}
