.thank_main_section {
   display: block;
   float: left;
   margin: 0 auto 0;
   padding: 5% 0;
   position: relative;
   text-align: center;
   width: 100%;
    z-index: 99;
    height: 100%;
    @include bg_cover;
    
    .container
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .thank_you_inner
    {
        padding: 50px 10%;
        width: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        flex-direction: column;
        position: relative;
        
        &:before
        {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            top:0;
            background-color: $color-white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            -webkit-animation-name: width_bx; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
            animation-name: width_bx;
            animation-duration: 1s;
        
        }
        
        h1
        {
            font-size:5em; 
            color: $color-primary;
            text-transform: uppercase;
            margin-bottom: 20px;
            position: relative;
            text-shadow: 5px 5px 10px rgba(128, 121, 121, 0.54);
          }
        h3
        {
             font-size:2em;
            color: $color-grey - 90%;
            font-weight:$font-weight-normal;
            
        }
        p {
           color: $color-grey - 90%;
           font-size: 20px;
            margin-bottom: 15px; 
            a
            {
                color: $color-primary;
                font-weight: 600;
                
                &:hover,
                &:focus
                {
                     color: $color-grey - 90%;
                }
            }
            }
        
        .btn
        {
            text-transform: uppercase;
            margin-top: 20px;
        }
    }
         
    }
