footer
{
    background-color:$color-footer;
    position: relative;
    
    .gear_icon
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        right: 0;
        padding:0 6%;
        overflow: hidden; 
        
        @include breakpoint(mobile-s)
        {
            align-items: flex-end;
        }
        
        img
        {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            opacity: 0.1;
            filter: grayscale(1);
            max-width: 25%;
            width: 100%; 
            -webkit-filter: grayscale(1);
            
            @include breakpoint(mobile-s)
            {
                   max-width: 75%;
            }
        } 
        
        &.gear_icon_lt
        {
            justify-content: flex-start;
        }
    }
    &.section
    {
      padding-bottom: 0; 
    }
    .footer_top
    {
        margin-bottom: 80px;
        
        @include breakpoint(desktop)
        {
            margin-bottom: 50px;
        }
        @include breakpoint(ipad)
        {
            margin-bottom: 20px;
        }
    }
}

.footer_bx 
{
    @include breakpoint(mobile)
    {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px 0;
    }
    h3
    {
        font-size: 20px;
        color: $color-white;
        font-family:$proximaNovaSBd;
        margin-bottom: 15px;
        
         @include breakpoint(desktop)
                {
                  font-size: 18px;
                }
        @include breakpoint(normal)
                {
                  font-size: 16px;
                }
    }
    
    ul
    {
        li
        {
            font-size:18px;
            font-family: $proximaNovaLt;
            
              @include breakpoint(desktop)
                    {
                         font-size:14px;
                    }
            
            &:last-child
            {
                margin-bottom: 0 !important;
            }
            
            a
            {
               color:$color-footer-text;
                padding: 0;
                 display: inline-block !important;
                
                &:hover
                {
                    color: $color-secondary;
                }
            }
        }
    }
    p
    {
       font-family: $proximaNovaLt;
         color:$color-footer-text;
    }
    
    .fa
    {
        color: $color-white;
        font-size: 20px;
        width: 20px;
        text-align: center;
        margin-right:10px;
        
         @include breakpoint(ipad)
                {
                    margin-right: 5px;
                }
    }
    
    
    &.footer_about
    {
        padding: 7px 0 0;
        
        @include breakpoint(mobile)
                {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                     padding: 20px 0;
                }
          @include breakpoint(mobile-s)
                {
                   padding:0 0 15px;
                    flex-direction: column;
                    align-items: center;
                }
        
        .footer_logo
        {
             @include breakpoint(mobile-s)
                {
                    margin-bottom: 20px;
                }
            img
            {
                @include breakpoint(desktop)
                {
                  max-width: 180px;
                }
                 @include breakpoint(normal)
                {
                  max-width: 150px;
                }
                 @include breakpoint(ipad)
                {
                  max-width: 120px;
                }
            }
        }
        .footer_sm
        {
            margin-top: 60px;
            
            @include breakpoint(desktop)
                {
                  margin-top: 40px;
                }
            @include breakpoint(normal)
                {
                  margin-top: 30px;
                }
            @include breakpoint(mobile)
                {
                  margin-top: 0;
                    display: flex;
                    align-items: center;
                }
            
            h3
            {
                margin-bottom:20px;
                
                @include breakpoint(normal)
                {
                  margin-bottom:15px;
                }
                 @include breakpoint(ipad)
                {
                  margin-bottom:10px;
                }
                  @include breakpoint(mobile)
                {
                  margin-bottom:0;
                    margin-right: 10px;
                    font-size: 14px;
                }
            }
            
            ul  
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                li
                {
                    margin-right:40px; 
                     
                       @include breakpoint(desktop)
                                {
                                  margin-right: 20px;
                                } 
                    @include breakpoint(ipad)
                                {
                                  margin-right: 10px;
                                } 
                    
                    &:last-child
                    {
                        margin-right: 0;
                    }
                    
                    a
                    { 
                        font-size: 22px;
                        color:$color-footer-text;
                        
                        @include breakpoint(mobile)
                                {
                                    font-size: 20px;
                                }
                        
                        &:hover
                        {
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
    
    &.footer_link
    {
        ul
        {
            li
                { 
                    margin-bottom: 13px;
                    position: relative;
                    padding-left: 20px;
                    width: 50%;
                    margin-right: -4px;
                    display: inline-block;
                    
                      @include breakpoint(desktop)
                            {
                                 margin-bottom: 7px;
                            }
                    @include breakpoint(ipad)
                            {
                                padding-left: 10px;
                            }
                    
                    &:before
                    {
                        content: "\f105";
                        position: absolute;
                        top: 3px;
                        left: 0;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-size: 20px;
                        color: $color-white;
                        
                         @include breakpoint(desktop)
                            {
                                font-size: 15px;
                            }
                         @include breakpoint(ipad)
                            {
                                font-size: 13px;
                                top: 1px;
                            }
                    }
                    
                }
        }
    }
    &.footer_contact
    {
        border-bottom: 0;
        padding-bottom: 0;
         
        ul
        {
            li 
            {
                margin-bottom: 28px;
                    padding-left: 40px;    
                position: relative;
                
                @include breakpoint(desktop)
                    {
                       margin-bottom: 18px;
                    }
                  @include breakpoint(mobile)
                    {
                        padding-left: 30px;    
                    }
                span
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        .fa
        {
            position: relative;
            top: 2px;
 
            @include breakpoint(desktop)
                {
                    font-size: 16px;
                }
        }
    }
}
.copyright_main
{
    background-color:$color-copyright;
    padding: 22px 0;
    position: relative;
    z-index: 9;
    
      @include breakpoint(desktop)
                {
                    padding: 15px 0;
                } 
    
    .container  
    { 
        display: flex;
        align-items: center;
        justify-content: space-between;
     
          @include breakpoint(mobile)
                {
                    flex-direction: column;
                    text-align: center;
                }
    }
    p
    {
        font-size: 16px;
        color:$color-footer-text;
        
           @include breakpoint(desktop)
                {
                    font-size: 14px;
                }
         @include breakpoint(mobile)
                {
                    font-size: 13px;
                }
        
        .imark
        {
            color: $color-imark;
            
            &:hover
            {
                color: $color-secondary;
            }
        }
    }
}