.form-control
{
 border-radius: 0;
    font-size:16px;
    @include bg-cover;
    height: 49px;
    
    @include breakpoint(desktop)
    {
        font-size: 14px;
          height: 42px;
    }
     @include breakpoint(normal)
    {
          height: 36px;
    }
    
    
    &:focus
    {
        border-color:$color-primary; 
    }
 
    &.calendar
    {
        background-image: url('#{$images}calendar.png');
        background-position:96% 50%;
        background-size:20px 20px;
        padding-right:40px; 
    }
     &.arrow_down
    {
        background-image: url('#{$images}arrow-down.png');
        background-position:96% 50%;
        background-size:12px 7px;
        padding-right:25px; 
    }
    
    &.form-textarea
    {
        height: 120px;
        resize: none;
        padding-top: 12px;
        
         @include breakpoint(normal) 
            {
                  height: 100px;
            }
    }
}


.search_pop
{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transform(scale(0));
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    z-index: -1;
    
    form
    {
        max-width: 540px;
        width: 100%;
    }
    
    .search_field
    {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        .search_text
        {
            height: 50px;
            border: 0;
            background-color: transparent;
            border-bottom: 2px solid #fff;
            color: #fff;
            padding: 6px 60px 6px 0; 
            -webkit-transition: all ease-in-out 0.5s;
            -moz-transition: all ease-in-out 0.5s;
            transition: all ease-in-out 0.5s;
            
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: rgba(#fff , 0.6);
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: rgba(#fff , 0.6);
                }
                &:-ms-input-placeholder { /* IE 10+ */
                   color: rgba(#fff , 0.6);
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: rgba(#fff , 0.6);
                }
            
            &:hover,
            &:focus
            {
                 border-color:$color-primary;
                
                &+.search_btn
                {
                     background-color:$color-primary;
                    
                    &:hover,
                    &:focus
                    {
                        background-color:$color-primary * 1.2; 
                    }
                }
            }
        }
        .search_btn
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            border: 0;
            width: 50px;
            color: $color-white;
            cursor: pointer;
             -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
        }
    }
    .close_btn
    {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 30px;
        height: 26px;
        
        &:before,
        &:after
        { 
             content: '';
            position: absolute;
           width: 30px;
            height: 4px;
             top: 10px; 
            background-color: #fff;
        }
                   

        &:before
        {
            @include transform(rotate(-50deg));
        }
        &:after
        {
            @include transform(rotate(50deg));
        }
    }
    
    &.search_pop_open
    {
        @include transform(scale(1));
        opacity: 1;
    pointer-events:visible;
        z-index: 99999;
    }
}
