header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-transition:opacity .5s ease-in-out; 
        -moz-transition:opacity .5s ease-in-out; 
        transition:opacity .5s ease-in-out; 
    padding: 25px 0;
     
     @include breakpoint(desktop)  
        {     
            padding: 10px 0; 
        } 
    
    .navbar-brand
    {
        max-width: 250px;
        padding: 0;
        
        @include breakpoint(desktop) 
        {     
           max-width: 200px;  
        } 
          
        @include breakpoint(ipad) 
        {     
           max-width: 150px; 
        } 
        @include breakpoint(mobile) 
        {     
           max-width: 110px; 
        } 
    }
    .navbar_brand_skicky
        {
            opacity: 0; 
            @include transform(scale(0)); 
            -webkit-transition:transform .1s opacity .1s ease-in-out; 
            -moz-transition:transform .1s opacity .1s ease-in-out; 
            transition:transform .1s opacity .1s ease-in-out; 
            position: absolute;
            top: 0;
            left: -200%;
            -webkit-animation: sm 2s infinite; /* Safari 4.0 - 8.0 */
            animation: sm 2s infinite;

        }
    .navbar-brand
        {
          opacity: 1; 
            @include transform(translateY(0)); 
             -webkit-transition:transform 1s ease-in-out; 
        -moz-transition:transform 1s ease-in-out; 
        transition:transform 1s ease-in-out; 
            position: static;
        } 
    &.sticky
    {
        position: fixed;
        background-color: $color-white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.32);
        
       @media (max-width: 767px) and (orientation: landscape) {
         position:absolute;
          }
        
     .navbar_brand_skicky
        {
            opacity: 1;
            @include transform(scale(1));
            position: static;
            max-width: 130px;
             
            @include breakpoint(mobile-s)
                {
                    max-width: 100px;
                } 
        }
         .navbar-brand
        {
          opacity: 0; 
            @include transform(translateY(-100%)); 
            position: absolute;
            top: -100%;
            left: 0;
        } 
        .navbar-collapse   
            {

                @include breakpoint(normal) 
                { 
                    top: 57px;
                }
                 @include breakpoint(mobile) 
                    {
                         top: 46px;
                    }
            }
      }
}
 
.navbar-expand-xl
{
    .container
    {
       @include breakpoint(normal) 
        {
            padding: 0 15px;
        }
    }
}
.navbar
{
    padding:0;
    position: relative;
     
    .navbar-collapse   
    {
        justify-content: flex-end;
     
        @include breakpoint(normal) 
        { 
            position: absolute;
            top: 82px;
            left: 0;
            right: 0;
            background-color: $color-white;
            border-top:1px solid $color-border-color;
            padding: 20px 0 0;
        }
         @include breakpoint(ipad)  
        {
             top: 62px;
        }
        @include breakpoint(mobile) 
        {
             top: 50px;
        }
        
    }
    
    .navbar-nav 
    {
        align-items: center;
        justify-content: flex-end;  
          
        li
        {
            margin-right: 40px; 
            
            @include breakpoint(desktop)
            {
                margin-right: 20px;
            }
            
             @include breakpoint(normal) 
             { 
               margin-bottom: 15px;
               margin-right: 0;
            }
            @include breakpoint(mobile) 
             { 
               margin-bottom: 10px;
               margin-right: 0;
            }
            &:last-child
            {
                margin-right: 0;
            }
            a.nav-link 
            {
                font-size: 18px; 
                color: $color-nav;
                font-weight:$font-weight-normal; 
                font-family: $proximaNovaRg;
                padding: 0;
                letter-spacing: 0.05em; 
                
                 @include breakpoint(desktop)
                    {
                         font-size: 16px;  
                    }
                @include breakpoint(mobile) 
                     { 
                       font-size: 16px; 
                    }
                &:after
                { 
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $color-secondary;
                    @include transition;
                    opacity: 0;
                    -webkit-transform: translateY(20px);
                    -moz-transform: translateY(20px);
                    transform: translateY(20px);
                }
                
                
                &:focus,
                &:hover
                {
                    color: $color-secondary;
                    
                    &:after
                    {
                        opacity: 1;
                        -webkit-transform: translateY(6px);
                        -moz-transform: translateY(6px);
                        transform: translateY(6px);
                    }
                }
            }
            &.active 
            {
                a.nav-link
               {
                    color: $color-secondary; 
                   &:after
                    {
                        opacity: 1;
                        -webkit-transform: translateY(6px);
                        -moz-transform: translateY(6px);
                        transform: translateY(6px);
                        
                        @include breakpoint(normal) 
                        {
                               -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        transform: translateY(0);
                         }
                    }
                
               }
            }
        }
    }
    
    .navbar-toggler
    {
        @include breakpoint(normal) 
        {
            background-image: url(../images/menu-button.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 90%;
            padding: 0;
            width: 45px;
            height: 45px;
        }
    }
}
