.mainloader
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    z-index: 99999;
    
    
   @keyframes loader {
	0%, 10%, 100% {
		width: 80px;
		height: 80px;
	} 
	65% {
		width: 150px;
		height: 150px;
	}
}
@keyframes loaderBlock {
	0%, 30% { 
		transform: rotate(0);
	}
	55% {
		background-color:$color-secondary;
	}
	100% {
		transform: rotate(90deg);

	}
}
@keyframes loaderBlockInverse {
	0%, 20% { 
		transform: rotate(0);
	}
	55% {
		background-color:$color-secondary;
	}
	100% {
		transform: rotate(-90deg);
	}
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
	animation: loader 1.2s infinite ease-in-out;

	span {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #EE4040;
		animation: loaderBlock 1.2s infinite ease-in-out both;
        
        @include breakpoint(mobile)
        {
            width: 20px;
            height: 20px;  
        }

		&:nth-child(1) {
			top: 0;
			left: 0;
            
             @include breakpoint(mobile)
                {
                    top: 40px;
                    left: 40px; 
                }
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
            
            @include breakpoint(mobile)
                {
                    top: 40px;
                    right: 40px; 
                }
		}
		&:nth-child(3) {
			bottom: 0;
			left: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
            
            @include breakpoint(mobile)
                {
                    bottom: 40px;
                    left: 40px; 
                }
		}
		&:nth-child(4) {
			bottom: 0;
			right: 0;
            
            @include breakpoint(mobile)
                {
                    bottom: 40px;
                    right: 40px; 
                }
		}
	}
}

    
  }
.bg_grey
{
    background-color: $color-grey;
}

.borders
{
    border-color: $color-border-color;
    border-style: solid;
    
    &.bb
    {
        border: 0;
        border-bottom: 1px solid $color-border-color_lt;
    }
    &.b_1
    {
        border-width: 1px;
    }
    &.b_2 
    {
        border-width: 2px;
    }
    &.b_3
    {
        border-width: 3px;
    }
    &.bb_1
    {
        border-bottom-width: 1px;
    }
     &.bb_2
    {
        border-bottom-width: 2px;
    }
     &.bb_3 
    {
        border-bottom-width: 3px; 
    }
}

.sm_icon
{
    color: $color-footer-text;
 
    &:hover,
    &:focus
    {
           &.facebook
            {
               color: $color-facebook; 
            }
            &.twitter
            {
               color: $color-twitter; 
            }
            &.linkedin
            {
               color: $color-linkedin; 
            }
            &.google_plus
            {
               color:$color-google; 
            }
    }
}


.section_head
{
    text-align: center;
}

#top_arrow {
  display: inline-block;
  background-color: $color-primary;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  position: fixed; 
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#top_arrow::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 3;
  color: #fff;
}
#top_arrow:hover {
  cursor: pointer;
  background-color: #333;
}
#top_arrow:active { 
  background-color: #555;
}
#top_arrow.show {
  opacity: 1;
  visibility: visible;
}



.link
{
    color:$color-link;
    font-size: 18px;
    font-weight:$font-weight-normal;
    overflow-x: hidden;
    position: relative; 
    display: inline-block;
    color: $color-secondary;
    line-height: 1.5;
    
     @include breakpoint(desktop) 
        {
           font-size:16px;
        }
     @include breakpoint(normal) 
        {
           font-size:14px;
        }
    
    &:after
    {
        content: '';
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        width: 100%;
        background-color:$color-secondary;
        transition:all ease-in-out 0.5s
     }
        &:hover,
        &:focus
        {
             &:after
                {
                    left: 110%;
                 }
        }
} 

.h3_line
{
    h3
    {
        font-size:25px;
        color: $color-black;
        font-weight:$font-weight-normal;
        margin-bottom: 10px; 
        
         @include breakpoint(desktop) 
            {
               font-size:20px;
            }
         
        &:after
        {
            content:'';
            display: block;
            width:45px;
            height: 2px;
            margin-top: 6px;
            background-color: $color-primary;
            
             @include breakpoint(desktop) 
                {
                     width:35px;
                }
        }
    }
    
    .h3_no_line
    {
        h3
        {
            &:after
            {
               display: none;
            }
        }
    }
}

@-webkit-keyframes sm {
    0%   {@include transform(scale(0.9))}
    50%  {@include transform(scale(1)) color:$color-white}
    100% {@include transform(scale(0.9))}
}

/* Standard syntax */
@keyframes sm {
   0%   {@include transform(scale(0.9))}
    50%  {@include transform(scale(1)) color:$color-white}
    100% {@include transform(scale(0.9))}
}

.pop_up_main
{
 .modal-dialog
    {
      top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    }
    
    .close_btn
    {
      position: absolute;
    top: -40px;
    right: 0;
    font-size: 30px;
    color:$color-white;
        
        &:hover
        {
            color: $color-red;
        }
    }
    
&.video_pop
{
    .modal-dialog
    {
        max-width: 700px;
        width: 100%;
        height: 400px;
        
        .modal-content
        {
            height: 100%;
            border: 1px solid #909090;
            border-radius: 0;
        }
        iframe
        {
            width: 100%;
            height: 100%;
        }
    }
}
    
    &.show
    {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
}



.breadcrumb_block
{
    ul
    {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;

        li
        {
            
           &:after
            {
                content:"\f105";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                 margin:0 10px;
                 color: $color-primary;
            }
            a
            {
                color: $color-primary;
                font-size: 15px;
                font-weight: $font-weight-medium;
                
                @include breakpoint(desktop)
                {
                    font-size: 14px;
                }
            }
            
            &.active
            {
                 
               &:after
                {
                      display: none;
                }
                a
                {
                    color: $color-grey;
                    pointer-events: none;
                } 
            }
        } 
    }
}

.custom_list
{
    li
    {
        position: relative;
        padding-left:15px;
        margin-bottom: 15px;

        
        &:before
        { 
            content: '';
            position: absolute;
            top: 10px;
            left:0;
            width: 7px;
            height: 7px;
            background-color: $color-primary;
            @include border-radius(100%);
            
            @include breakpoint(desktop)
            {
                top: 7px;
            }
        } 
        }
    }


.custom_checkbox
{
    label
    {
        display: inline-block;
        font-size: 15px;
        font-weight:$font-weight-normal;
         cursor: pointer;
        
        input[type="radio"]
        {
            position: absolute;
            left: -99999px;
            opacity: 0;
            pointer-events: none;
           
            & + .check_text
                {
                    width: 15px;
                    height: 15px;
                    border:1px solid $color-border-color-lt;
                    position: relative;
                    @include border-radius(100%);
                    display: inline-block;
                    margin: -2px 5px 0 0;
                     @include transition; 
                    vertical-align: middle;

                    @-moz-document url-prefix() {
                        margin-top: 0px; 
                    }
                    
                    &:before
                    {
                        content: '';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        background-color: $color-primary;
                           @include border-radius(100%);
                        top: 3px;
                        left: 3px;
                         -webkit-transform: scale(0);
                       -moz-transform: scale(0);
                       transform: scale(0);
                        @include transition;
                    }
                }
           
            &:checked
            {
                  & + .check_text
                {
                    border:1px solid $color-primary;
                  
                    &:before 
                    {
                       -webkit-transform: scale(1);
                       -moz-transform: scale(1);
                       transform: scale(1);
                    }
                }
            }
             &:hover
            {
                 & + .check_text
                {
                    border:1px solid $color-primary;
                } 
            }
        }
        
    }
}


.play_btn
{ 
    width: 120px;
    height: 120px;
    @include border-radius(100%);
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: $color-secondary;
    
    &:before
    {
        content: '';
        width: 120%;
        height: 120%;
         @include border-radius(100%);
        background-color: rgba(255,255,255, 0.4);
        position: absolute;
        top: -10%;
        left: -10%;
        right: 0;
        bottom: 0; 
        z-index: -1;
        -webkit-animation: play_btn 2s infinite; /* Safari 4.0 - 8.0 */
        animation: play_btn 2s infinite;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes play_btn {
    0% {transform:scale(0);}
    50% {transform:scale(1);opacity:0.6;}
    100% {transform:scale(1.5); opacity:0;}
}

/* Standard syntax */
@keyframes play_btn {
   0% {transform:scale(0);}
     50% {transform:scale(1);opacity:0.6;}
    100% {transform:scale(1.5); opacity:0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes btn_com {
    0% {transform:scale(0);}
    50% {opacity:0.6;}
    100% {transform:scale(2); opacity:0;}
}

/* Standard syntax */
@keyframes btn_com {
   0% {transform:scale(0);}
     35% {opacity:0.6;}
     70% {opacity:0;}
    100% {transform:scale(2); opacity:0;}
}

.skew_bx
{
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    transform: skewX(-10deg);
    position: relative;
    
    @include breakpoint(normal)
            {
                -webkit-transform: skewX(0);
                -moz-transform: skewX(0);
                transform: skewX(0);
            }
    
   .line
    {
        background-color: $color-secondary;
        position: absolute;
        display: block;
        z-index: 9;
        
        &.line-left {
            width: 10px;
            height: 100px;
            bottom: -10px;
            left: 5%;
            
            @include breakpoint(ipad)
            {
                width: 7px;
                height: 80px;
                bottom: -7px;
                left: 5.5%;
            }
            @include breakpoint(normal)
            {
                left: -7px;
            }
        }
        &.line-left-bottom 
        {
            width: 100px;
            height: 10px;
            bottom: -10px;
            left: 5%;
            
            @include breakpoint(ipad)
            {
                width: 80px;
                height: 7px;
                bottom: -7px;
                  left: 5.5%;
            }
             @include breakpoint(normal)
            {
                left: 0;
            }
        }
        &.line-right
        {
            top: -10px;
            right: 5%;
            width: 10px;
            height: 100px;
            
           @include breakpoint(ipad)
            {
                top: -7px;
                width: 7px;
                height: 80px;
                right: 5.5%;
            }
             @include breakpoint(normal)
            {
                right: -7px;
            }
        }
        &.line-right-top
        { 
                top: -10px;
                right: 5%;
                width: 100px;
                height: 10px;
            
            @include breakpoint(ipad)
            {
                top: -7px;
                width: 80px;
                height: 7px;
                right: 5.5%;
            }
            @include breakpoint(normal)
            {
                right: 0;
            }
        }
    }
}

.figure_border
{
    background-color:$color-white;
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    transform: skewX(10deg);
    position: relative;
    
    @include breakpoint(normal)
            {
            -webkit-transform: skewX(0);
            -moz-transform: skewX(0);
            transform: skewX(0);
            }
    
    &.figure_border
    {
        overflow: hidden;
        &:before,
        &:after
        {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 14%;
            
            @include breakpoint(normal)
            {
               display: none;
            }
        } 
        
        &:before {
            left: -7.5%;
            top: 0;
            bottom: 0;
            transform: skew(-10deg);
          }
        &:after
        {
            right: -7.5%;
            top: 0;
            bottom: 0;
            transform: skew(-10deg);
        }
    }
}


.red_color
{
    color: $color-secondary;
}

.pagination_bx
{ 
    ul
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
        li
        {
            margin-left: 12px;
                
                &:first-child
                {
                     margin-left:0;
                 }
            a
            {
                width: 52px;
                height: 52px;
                @include border-radius(100%);
                background-color: $color-grey-light;
                color: $color-nav;
                display: flex;
                align-items:center;
                justify-content:center;
                font-size:26px;
                font-family:$proximaNovaSBd;
                padding-top: 2px;
                @include breakpoint(desktop)
                {
                    width: 42px;
                    height: 42px; 
                    font-size:18px;
                }
                 
                &:hover,
                &:focus,
                &.active
                {
                    background-color: $color-secondary; 
                    color: $color-white;
                }
            }
        }
    }
}


.search_bar_main    
{
    position: relative;
    .form-control
    {
        border: 1px solid $color-border-color-lt;
        width: 100%;
        padding-right: 60px;
        height: 55px;
        
        @include breakpoint(desktop)
        {
            height: 40px;
        }
        
        &:focus
        {
            border-color:$color-primary;
            
            & + .searchbar_btn
            {
                background-color: $color-primary;
                color: $color-white;
                right: -5px;
                -webkit-transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out;
                
                &:hover
                {
                    background-color: $color-secondary;
                    color: $color-primary;
                }
            }
        }
    }
    .searchbar_btn
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px; 
        background-color: transparent;
        border: 0;
        color: $color-footer-text;
        cursor: pointer; 
        @include transition;
        font-size: 20px;
        
         @include breakpoint(desktop)
            {
                width: 40px;
                  font-size: 17px;
            }
        
        &:hover
                { 
                    background-color: $color-primary; 
                    color: $color-secondary; 
                }    
    }
}

.fixed_contact
{
        position: fixed; 
        bottom: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    z-index: 9;
    
        .cont_btn {
            margin-top: 10px;
            width: 60px;
            height: 60px;
            -webkit-transform: translateX(-200%);
            -moz-transform: translateX(-200%);
            transform: translateX(-200%); 
            
            @include breakpoint(normal)
            {
                width: 40px;
                height: 40px;
            }
            
            &:hover
            {
                opacity: 0.7;
            }
             
            
            &.call_btn
            { 
                padding: 2px;
            }
        }
}

.custom_scroll
{
    height: 200px;
    padding-right: 16px;
    
   @include breakpoint(desktop)
            {
                height: 170px;
            } 
    
}  
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, 
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools

{
    opacity: 1;
}
.mCS-minimal.mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
    background-color: rgba(255, 0, 0, 0.5);
}
@include breakpoint(normal)
{
    [data-aos^=fade][data-aos^=fade]
    {
        transition:none !important;
    }
}